.details {
  padding: 1rem;
  width: 30rem;
}

.author {
  color: #543280;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.text {
  color: #593884;
  font-size: 1.25rem;
  font-style: italic;
  margin: 0.25rem 0 0 0;
  white-space: pre-wrap;
}

.details a {
  text-decoration: none;
}
