* {
  box-sizing: border-box;
}

:root {
  background-image: radial-gradient(ellipse at top left, #7f50e4, #4c05d0);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-synthesis: none;
  font-weight: 400;
  line-height: 2.5rem;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #e6ddf9;
  margin: 0;
}
